@font-face {
	font-family: "Adwaita Mono";
	src: url("../fonts/AdwaitaMono-Regular.ttf");
}

@font-face {
	font-family: "Playfair Display";
	src: url("../fonts/PlayfairDisplay-Regular.ttf");
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Adwaita Mono", monospace;
}

:root {
	--paper-bg: #071639;
	--paper-line: #645e4f;
	--paper-text: #f6eddc;
	--hit-color: #f6eddc;
	--miss-color: #9ed0ff;
	--hit-bg: #7b112b;
	--board-grid-size: 40px;
	--board-grid-offset-x: 50%;
	--board-grid-offset-y: 160px;
}

html,
body {
	height: 100%;
}

body {
	background:
		radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
		radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
		var(--paper-bg);

	/* repeating pattern */
	background-size:
		10px 10px,
		10px 10px;

	/* keep pattern fixed relative to viewport */
	background-attachment: fixed;
	color: var(--paper-text);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header h1 {
	text-align: center;
	padding: 1rem;
	user-select: none;
	font-size: 3rem;
	font-weight: 300;
	font-family: "Playfair Display", serif;
	letter-spacing: 0.4rem;
}

#placement-info {
	font-weight: 400;
}
